// UNCLASSIFIED

extends base
append base_parms
	- tech = "d3"
	- map = "world"

append base_help
	:markdown
		Provides a map chart:

			src = path to map data [ {Name, Info, Code, ...}, ...]
			index = field containing 2-3 letter county/state code
			details = field containing detailed information
			fill = field containing fill style
			trace = display options

append base_head
	style.
		div {
			width: 500px;
			height: 300px;
		}

	script.
		var opts = {
			ds: "/!{query.src}",
			index: "#{query.index}" || "Name",
			ctries: "/ctries",
			details: "#{query.details}" || "Info",
			raw: true,
			fill: "#{query.fill}" || "Code",
			trace: "#{query.trace}" || false
		};

append base_body

	script(src="/clients/d3/d3.v3.min.js")
	script.
		//var map = new Datamap({element: document.getElementById('content')});

		d3.json(opts.ctries, function (ctries) {
			var cmap = {}, vmap = [];
			ctries.forEach( function (ctry) {
				cmap[ctry.Name.toUpperCase()] = {
					fillKey: ctry.Code.toUpperCase(),
					info: ctry.Info
				}
			});

			source(opts, function(recs) {
				
				recs.forEach( function (rec) {
					vmap.push({
						name: rec.Source,
						radius: rec.Radius,
						longitude: rec.Location.x,
						latitude: rec.Location.y,
						fillKey: "VOXEL"
					});	
				});
				
				var map = new Datamap({
					//responsive: true,
					
					//bubbles: vmap,
					
					element: document.getElementById('content'),

					geographyConfig: {
						popupTemplate: function (geo,data) {
							return [
								geo ? geo.properties.name : "",
								data ? data.info : "nada"
							].join("<br>").tag("div",{class:"hoverinfo"});
						}
					},
					
					fills: {
						HIGH: '#afafaf',
						LOW: '#123456',
						MEDIUM: 'blue',
						VOXEL: 'red', //'rgb(1,0,0)',
						defaultFill: 'green'
					},

					data: cmap
				});

				map.bubbles(vmap, {
					popupTemplate: function (geo,data) {
						return [
							//geo ? geo.properties.name : "",
							data ? JSON.stringify(data) : "nada"
						].join("<br>").tag("div",{class:"hoverinfo"});
					}});
				
				map.legend();
				
				d3.select(window).on("resize", function () {
					map.resize();
				});
				
			});
		});	

// UNCLASSIFIED
