// UNCLASSIFIED

extends base
append base_parms
	- tech = "d3"
	- map = "world"

append base_help
	:markdown
		Provides a map chart:

			ds = path to map data [ {Name, Info, Code, ...}, ...]
			index = field containing 2-3 letter county/state code
			details = field containing detailed information
			fill = field containing fill style
			trace = display options

append base_head
	style.
		div {
			width: 500px;
			height: 300px;
		}

	script.
		var opts = {
			ds: "!{query.ds}" || "maps.db",
			index: "#{query.index}" || "Name",
			details: "#{query.details}" || "Info",
			fill: "#{query.fill}" || "Code",
			trace: "#{query.trace}" || false
		};

append base_body

	script.
		//var map = new Datamap({element: document.getElementById('content')});

		source(opts, function(opts) {

			var data = {};
		
			opts.data.each( function (n,rec) {
				data[ (rec[opts.index] || "") ] = {
					fillKey: (rec[opts.fill] || "").toUpperCase(),
					Info: (rec[opts.details] || "").toUpperCase()
				};
			});
		
			var map = new Datamap({
				element: document.getElementById('content'),

				geographyConfig: {
					popupTemplate: function (geo,data) {
						return [
							geo ? geo.properties.name : "",
							data ? data.Info : "nada"
						].join("<br>").tag("div",{class:"hoverinfo"});
					}
				},
				fills: {
					HIGH: '#afafaf',
					LOW: '#123456',
					MEDIUM: 'blue',
					UNKNOWN: 'red', //'rgb(1,0,0)',
					defaultFill: 'green'
				},
				data: data || {
					RUSSIA: {
						fillKey: 'LOW',
						Info: 2002
					},
					USA: {
						fillKey: 'MEDIUM',
						Info: 10381
					} 
				} 
			});

			//draw a legend for this map
			map.legend();
		});		

// UNCLASSIFIED
