//- UNCLASSIFIED

extends site
append site_parms
	- view = "Min"
	- parms = {Min:"Min",search:"search",brief:"brief",capture:"capture",chat:"chat",news:"news","news print":"print"}
append site_body

	- task = query.task || ""
	case query.options || "Min"
		when "Min"
			#folder.Top(left)
				#grid.Docs(
					path="/docs.db",
					wrap, page=100,
					cols="Name.t,Pipe.j,Method.t,Description.h,Override.n,Topics.i,Terms.i,Scores(_actors.i..shortoff,_links.i..shortoff,_topics.i..shortoff,_relevance.n..shortoff,_sentiment.n..shortoff,_agreement.n..shortoff,_weight.n..shortoff)")
					
				#grid.Rules(
					path="/nlprules.db?Task=#{task}",
					wrap, page=100,
					cols="Usecase.h,Index.t")

				#grid.Regression(
					path="/regress.db?Name=#{task}%",
					wrap, page=100,
					cols="Name.t,Pipe.j,Method.t,Description.h")
				
//- UNCLASSIFIED
