// UNCLASSIFIED
//-
	Render a skin when DEBE encounters dynamic view endpoints /DS.MODE where
		&mode = MODE = brief | gridbrief | runbrief | pivbrief| run | plugin | view | pivot
		&cols = [key.type, ...]
		&page = page size of DS grid
		&refresh = refresh time of associated job grid
		&width = post width
		&height = post height

extends base
append base_parms
	case query.mode
		when "brief"
		when "gridbrief"
		when "runbrief"
		when "pivbrief"
			- tech = "reveal"
		default
			- tech = "extjs"

extends site
append site_parms
	case query.mode
		when "site"
			- view = "Basic"
		when "plugin"
			- view = "Insert"
			- options = { "more+":"", "more++":"", less:"" }
		when "run"
			- view = "Typical"
			- options = { "more+":"", "more++":"", less:"" }
		when "view"
		when "pivot"
		when "brief"
		default
			- view = "Nada"

append site_body

	- mode = query.mode
	- ds = query.ds || "myplugin"
	- dscols = query.cols || []
	- dspage = query.page || 20
	- dsquery = query.search || ""
	- dsrefresh = query.refresh || ""
	- dspath = `/${ds}.db`
	- dstitle = ds + " view"
	- dsdims = query.dims
	- dims = dsdims.split(",")
	- height = dims.pop()
	- width = dims.pop()
	- tasks = projs ? get( projs , {Plugin:ds}, "Task,Hours,Complete,FAQ1,FAQ2") : []
	- more = parseInt(query.more) || 0

	case mode
		when "plugin"
		when "run"
			#grid.Usecase(
				path=dspath,
				cols=dscols.join(),
				menu="Agents",
				wrap,
				blogs="Description",
				dims=dsdims,
				hover="finished",
				page=dspage )

				:markdown
					This *#{ds}* plugin provides a coupled dataset-engine to execute the #{ds} engine with usecase parameters.  From
					an plugin view, simply selecta usecase, then click the execute/run button.  You may run any plugin from the url bar:

						GET /PLUGIN.exe?id=CASE 	Run PLUGIN engine with id-specified use-CASE parameters
						GET /PLUGIN.exe?name=CASE 	Run PLUGIN engine with name-specified use-CASE parameters

					The following dataset (keys) determine how a PLUGIN interfaces with #{title}:

						(Save_KEY) store aggregated CASE outputs [{at:"KEY", ...}, ...] were KEY = config | batch | step | jump | end | ...
						(Job) json parameters to place CASE into a QoS-Credit regulated queue
						(Export) switch to export CASE outputs to a file
						(Agent) name of agent to out-source this CASE 
						(Description) bloggable details on this CASE	

					Job = { file: "plugin.case" || "uploaded file", group: "KEY,...", where: {KEY:VALUE, ...}, order: "KEY,...", limit:, task: "name" } 
					specifies which event file is consumed by the CASE when run.  There is an implicit order:"t" on any data consuption.
					Grouping events will regulate the events per QoS-Credit rules.

					PLUGINs can be extended / retracted via its PLUGIN.run key-editor, or use
					[Save+](/#{ds}.add?Save=doc), [Save-](/#{ds}.sub?Save),
					[Export+](/#{ds}.add?Export=false), [Export-](/#{ds}.sub?Export),
					[Agent+](/#{ds}.add?Agent=me), [Agent-](/#{ds}.sub?Agent),
					[Job+](/#{ds}.add?Job=doc), [Job-](/#{ds}.sub?Job),
					[Description+](/#{ds}.add?Description=doc), [Description-](/#{ds}.sub?Description)
					
					A (Description) may contains tags of the form

						 [image | post | update | link | SKIN, W, H, DS?QUERY]( /url | PARM=r.KEY expression; ...)

					to document the use case.  For example:
					
						[plot,100,200](x=r.Save.a;ys=[r.Save.b,r.Save.c])
						[post,500,100](/home.view)
						[link](https:/go.here)
						[image](/shares/a1.jpg)
						[force,100,100,queues.tree?_pivots=class]()
						
					will embed (1) a plot of the requested x,y data using the [d3 plot](/plot.view), (2) the 
					[home.view](/home.view), (3) a link to the url, (4) the [image](/shares.jpg), and (5) a
					force graph of the queues dataset pivoted by class using the [d3 force](/force.view) 
					into a frame of specified W x H dimensions.
					
					Toggle the blog button to edit / blog the Description.

					The header color indicates the status of the *#{ds}* plugin: completed (green), policed (blue),
					funded (orange), unfunded (red).  The *#{ds}* plugin impacts the following tasks:
					
				table!= gridify(tasks)
	
			#form.Engine(
				path="/engines.db?Name=#{ds}",
				hover="pending",
				cols="Name,Type,Enabled.c,Program(Code.x,State.x.Context)")

				:markdown
					[Engines](/api.view) contain js | python | matlab | opencv | ... code.  Click the execute 
					button to test the engine with its default context parameters.  See [DSP](https://www.npmjs.com/package/dsp), 
					[LWIP](https://github.com/EyalAr/lwip),  [MATH](http://mathjs.org/), 
					[CRYPTO](https://nodejs.org/docs/latest/api/), [FLEX](https://github.com/ACMESDS/flex), 
					[MATH](http://mathjs.org/), 
					[RAN](https://github.com/ACMESDS/flex), [SVD](https://www.npmjs.com/package/node-svd), 
					[MLE](linktbd), [MVN](linktbd), [MAIL](linktbd) for 
					the js-modules attached to all js-engines.  Import py-modules as needed for a py-engine.
					
			#grid.Jobs(
				path="/queues.db?Class=#{ds}",
				cols="Arrived.d,Departed.d,Client,Notes.x,QoS.n,Age.n,Funded.c,Finished.c,Priority.n,Work.n,State.n,Task.t,Signoffs(Flagged.c,Sign0.c,Sign1.c,Sign2.c,Sign3.c)",
				sorts="Work,State",
				refresh=dsrefresh,
				wrap,
				head="Print,Refresh,Execute,Help",
				hover="policed",
				page=dspage )

				:markdown
					Jobs created by this plugin are show here.  If the job originator exceeded their credits,
					the job is marked "unfunded"; otherwise the job is marked "funded".  If you would like to 
					fund an unfended job, simply click its "(un)funded" link.  To decide if this is a wise purchase, 
					click the "#{ds}" link to see the test case case being explored; additional project information,
					if available, is attached as "RTP", "PMR" etc links.  Earning job credits is easy: simply 
					upload your data using the Files | Uploads.

			if more>0
				#grid.Keys(
					path="/keyedit.db?ds=#{ds}",
					cols="Key,Type,Samples.x,Dist,Parms.x",
					wrap,
					page=dspage)
					
			if more>1
				#post.Flow( path="/#{ds}_flow.view", dims="800,600",wrap )

		when "pivot"
			- pcol = dscols.pop()
			#pivot(
				class=dstitle,
				path=dspath,
				pivots=pcol,
				cols=dscols.join(),
				page=dspage )

		when "brief"
		when "gridbrief"
			section
				h3.hd= dstitle

				if query.data
					div!= gridify( query.data )

				else				
					iframe(
						src="/#{ds}.view?dims=#{dsdims}",
						width=width,
						height=height )

		when "pivbrief"
			section
				h3.hd= dstitle
				iframe(
					src="/#{ds}.pivot?dims=#{dsdims}",
					width=width,
					height=height )

		when "runbrief"
			section
				h3.hd= dstitle				
				iframe(
					src="/#{ds}.run?dims=#{dsdims}",
					width=width,
					height=height )

		default
			#grid(
				class=dstitle,
				path=dspath,
				cols=dscols.join(),
				dims=dsdims,
				page=dspage )

// UNCLASSIFIED
