// UNCLASSIFIED
//-
	Render a skin when DEBE encounters dynamic view endpoints /DS.MODE where
		&mode = MODE
		&cols = [key.type, ...]
		&page = page size of DS grid
		&refresh = refresh time of associated job grid
		&width = post width
		&height = post height

extends base
append base_parms
	case query.mode
		when "brief"
		when "gridbrief"
		when "runbrief"
			- tech = "reveal"
		default
			- tech = "extjs"

extends site
append site_parms
	case query.mode
		when "site"
			- view = "Basic"
		when "view"
		when "pivot"
			- view = "Nada"
		when "plugin"
			- view = "Kiss"
		when "run"
			- view = "Basic"
		when "brief"
			- view = "Nada"
		default
			- view = "Nada"

append site_body

	- mode = query.mode
	- ds = query.ds || "plugin"
	- dscols = query.cols || []
	- dspage = query.page || 20
	- dsquery = query.search || ""
	- dsrefresh = query.refresh || ""
	- dspath = `/${ds}.db?${dsquery}`
	- dstitle = ds + " view"
	- dsdims = query.dims
	- dims = dsdims.split(",")
	- height = dims.pop()
	- width = dims.pop()

	case mode
		when "plugin"
		when "run"
			#grid.Dataset(
				path=dspath,
				cols=dscols.join(),
				menu="Agents",
				wrap,
				dims=dsdims,
				page=dspage )

				:markdown
					A plugin is a dataset-engine pair that is used to execute engines with the parameters
					from a selected dataset case.  To run plugin with a specific parameter case, simply
					select the case, then click the	execute button; you may also run a plugin from the url bar:

						GET /PLUGIN.exe?ID=CASE 	Run PLUGIN engine using PLUGIN dataset parameters for specified CASE 
						GET /PLUGIN.exe?Name=CASE 	Run PLUGIN engine using PLUGIN dataset parameters for specified CASE

					Plugins normally run standalone, but they can be placed in job workflows when they 
					contain (reserved) parameters:

							(Save) json reserve for storing the results of this CASE
							(Job) json parameters to place CASE into appropriate job workflow regulated by the clients' QoS and Credit levels
							(Task) name of project associated with this CASE
							(Description) document CASE
							
					Use  [Save+](/#{ds}.add?Save=doc), [Job+](/#{ds}.add?Job=doc), [Task+](/#{ds}.add?Task=name), [Description+](/#{ds}.add?Description=doc) to add,
					and [Save-](/#{ds}.sub?Save), [Job-](/#{ds}.sub?Job), [Task-](/#{ds}.sub?Task), [Description-](/#{ds}.sub?Description)  to remove
					these parameters.

					A (Description) parameter may contains bloggable markdown  tags

						[image | post | update | LABEL,W,H](url) 

					to document the test case and its results.  Toggle the blog button to 
					edit / display the blog.

			#form.Engine(
				path="/engines.db?Name=#{ds}",
				cols="Name,Engine,Enabled.c,Program(Code.x,Vars.x.Context)")

				:markdown
					[Engines](/api.view) contain js | python | matlab | opencv | ... code.  Click the 
					execute button to test the engine with its default context parameters.

			#grid.Jobs(
				path="/queues.db?Class=#{ds}",
				cols="Arrived.d,Departed.d,Notes.x,QoS.n,Age.n,Funded.c,Finished.c,Priority.n,Work.n,State.n,Task.t,Signoffs(Flagged.c,Sign0.c,Sign1.c,Sign2.c,Sign3.c)",
				refresh=dsrefresh,
				page=dspage )

				:markdown
					Jobs created by this plugin are show here.  If the originator exceeded their credits,
					the job notes will contain an "unfunded" link.  If you would like to fund this job with 
					your credits, simply click the "unfunded" link.  To decide if this is a wise purchase, 
					click the "#{ds}" link to see the test case case being explored.  If present, you 
					may also click the "RTP" or "PMR" links to get further information about the 
					project this job supports.

		when "pivot"
			- pcol = dscols.pop()
			#pivot(
				class=dstitle,
				path=dspath,
				pivots=pcol,
				cols=dscols.join(),
				page=dspage )

		when "brief"
		when "gridbrief"
			section
				h3.hd= dstitle

				if query.data
					div!= gridify( query.data )

				else				
					iframe(
						src="/#{ds}.view?dims=#{dsdims}",
						width=width,
						height=height )

		when "pivbrief"
			section
				h3.hd= dstitle
				iframe(
					src="/#{ds}.pivot?dims=#{dsdims}",
					width=width,
					height=height )

		when "runbrief"
			section
				h3.hd= dstitle				
				iframe(
					src="/#{ds}.run?dims=#{dsdims}",
					width=width,
					height=height )

		default
			#grid(
				class=dstitle,
				path=dspath,
				cols=dscols.join(),
				dims=dsdims,
				page=dspage )

// UNCLASSIFIED
