//- UNCLASSIFIED
extends layout
append layout_help
	:markdown
		site level skinning framework with parameters:

			options dropdown skinning options {key: menuItem, ...} 
			dock = folder docking style left | right | top | bottom
			dims = maximum widget dimensions "width,height"
			view = site style Home | Kiss | Engr | Min | Basic | Simple, ..
			page = maximum grid rows
			pulse = system health refresh rate in seconds
			hosts = available hosts {use: "", ... } 
			logo = banner logo html

append layout_parms
	- capture = true
	- banner = (classif.banner || "") + logo

extends base
append base_parms
	- tech = "extjs"

	block site_parms
		- options = null // dropdown skinning options
		- parms = {} // legacy options
		- dock = "top" // folder docking style left | right | top | bottom
		- dims = "2048,1200" // width,height maximum widget dimensions 
		- view = "Min" // site style Home | Kiss | Engr | Min | Basic | Simple, ..
		- page = 50 // maximum grid rows
		- pulse = 120 // system health refresh rate [seconds]
		- hosts = {use:"aws", red:"http://localhost:1880", w3:"http://www.w3schools.com", geohub: "https://sigma0.ilabs.ic.gov", me: "localhost", win: "http://200.100.50.101", aws: "http://172.31.76.130"}
		- rand = Math.floor( Math.random() * 10 )
		- logo = "<br>" + "".tag("img",{src:`/stash/header${rand}.jpg`,width:"100%",height:80})

append base_head
	style.
		.AL {text-align:left;}
		.AR {text-align:right;}
		.AC {text-align:center;}
		.LG {font-size:15px;}
		.SM {font-size:10px;}
		.IN {text-indent:50px;}
		.BY {background-color:yellow;}
	block site_head

append base_body

	#hold.Options(path=JSON.stringify(options||parms),cols="Name,Path")
	
	- titlebar = [nick, client, (profile.Credit*1e-3).toFixed(0)+"$ "+profile.QoS+"qos", "Issues", warning, "Login"].linkify(["requirements", "/home.view?option=chat", "*", "", "", "/login?pass=totem"])
	- goto = query.goto || ""
	- browsers = {Ok: ["supported","Chrome","Firefox","Opera","Safari"],Bad: ["unsupported","IE","Netscape","Traveler","TheWorld","Maxthon"] }

	if !query.help
		case view
			when "Min"
				#border(
					class=dataset,
					crush,
					head="Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,LikeUs,Help",
					LikeUs="/likeus.db",
					Manage="/files.view",
					title=titlebar)

					block site_help

					#fit(center)
						block site_body

					#fit(west,crush)
						#grid.xx(path="/sessions.db",cols="Client,Joined.d,Message")

					#fit(south,crush)
						:markdown
							Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/prm/) [blog](tbd) [ARTIFACTS](/treefan.view?src=info&w=100&h=600) By:#{credits}

			when "Basic"
				#folder(center,dock=dock)
					block site_body

			when "Insert"
				#border(class=dataset,head="Options,Help",crush)

					block site_help

					#folder(center,dock=dock)
						block site_body

			when "Tabbed"
				#border(
					class=dataset,
					crush,
					head="Info(Tasks,Plugins,Links),Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,LikeUs,Help",
					LikeUs="/likeus.db",
					Manage="/files.view",
					title=titlebar)

					block site_help
					#post.Brief(path="/briefs.view?options=#{dataset}",dims="600,300")

					#folder(center,dock=dock)
						block site_body

					#fit(west,crush)
						#grid.xx(path="/sessions.db",cols="Client,Joined.d,Message")

					#fit(south,crush)
						#post.Fan(path="/fan.view?src=info&w=4000&h=800",dims="2000,400")
						:markdown
							Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/doc/debe/index.html) [blog](tbd) [JIRA](tbd) By:#{credits}

			when "Home"
				#border(
					class=dataset,
					title=titlebar,
					crush,
					head="Health,Users,Themes,Capture,Links,Options,Likeus,Help",
					LikeUs="/likeus.db" )

					block site_help
					#post.Brief(path="/briefs.view?options=#{dataset}",dims="600,300")

					#fit(center)
						block site_body

					#fit(north,crush)
						:markdown
							Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/doc/debe/index.html) [blog](tbd) [JIRA](tbd) By:#{credits}

			when "Simple"
				block site_body

			when "Monster"
				#border(
					class=dataset,
					title=titlebar,
					crush,
					head="More(Health,Users,Links,Themes),Uploads,$uploads,Stores,$stores,Views,Options,LikeUs,Help",
					LikeUs="/likeus.db")

					block site_help
					#post.Brief(path="/briefs.view?options=#{dataset}",dims="600,300")

					//
						#pivot.Helpful.Links(
						west,crush,dims="200,600",
						path="/sidebars.db",
						cols="Pivot(NodeID,Topic),Special")

					#fit(center)
						block site_body

					#fit(south,crush)
						ishtml
							each brow in browsers.Ok
								img(src=icons+"/browsers/"+brow+".ico",width=16,height=16)
							each brow in browsers.Bad
								img(src=icons+"/browsers/"+brow+".ico",width=16,height=16)

			when "Kiss"
				#fit
					block site_body

			when "Search"
				#border(
					class=dataset,
					crush,
					head="Comfort,Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,Likeus,Help",
					LikeUs="/likeus.db",
					Manage="/files.view",
					title=titlebar)

					#grid.Search(
						path="/catalog.db",center,crush,
						head="Search,Execute,Print,Refresh",
						page=100,
						cols="Ref,Name,Link.h,Dated.d,Quality")

					#fit(center)
						block site_body

			default
				#border(
					class=dataset,
					title=titlebar,
					crush,
					head="System(Health,Users,Links,Plugins,Tasks),Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,LikeUs,Capture,Help",
					LikeUs="/likeus.db",
					Manage="/files.view")

					block site_help
					#post.Brief(path="/briefs.view?options=#{dataset}",dims="600,300")

					#fit(center)
						block site_body

					#fit(north,crush)
						:markdown
							Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/doc/debe/index.html) [blog](tbd) [JIRA](tbd) By:#{credits}
