//- UNCLASSIFIED
extends layout
append layout_help
	:markdown
		Extends the base framework to provide a standard site skinning framework.

			- options = {} // dropdown skinning options {key: menuItem, ...} 
			- dock = "top" // folder docking style left | right | top | bottom
			- dims = "2048,1200" // width,height maximum widget dimensions 
			- view = "" // site style Home | Kiss | Engr | Min | Basic | Nada, ..
			- page = 50 // maximum grid rows
			- pulse = 120 // system health refresh rate [seconds]
			- hosts = {use: "", ... } // available hosts 

append layout_parms
	- capture = true
	- banner = classif.banner ? (classif.level + " " + classif.banner) : ""

extends base
append base_parms
	- tech = "extjs"

	block site_parms
		- options = null // dropdown skinning options
		- parms = {} // legacy options
		- dock = "top" // folder docking style left | right | top | bottom
		- dims = "2048,1200" // width,height maximum widget dimensions 
		- view = "Min" // site style Home | Kiss | Engr | Min | Basic | Nada, ..
		- page = 50 // maximum grid rows
		- pulse = 120 // system health refresh rate [seconds]
		- hosts = {use:"aws", red:"http://localhost:1880", w3:"http://www.w3schools.com", geohub: "https://sigma0.ilabs.ic.gov", me: "localhost", win: "http://200.100.50.101", aws: "http://172.31.76.130"}
	
append base_head
	style.
		.AL {text-align:left;}
		.AR {text-align:right;}
		.AC {text-align:center;}
		.LG {font-size:15px;}
		.SM {font-size:10px;}
		.IN {text-indent:50px;}
		.BY {background-color:yellow;}
	block site_head

append base_body

	#hold.Options(path=JSON.stringify(options||parms),cols="Name,Path")
	#hold.Users(path="/users.db",cols="Name")
	#hold.Health(path="/health.db",cols="Name")
	#hold.Themes(path="/lookups.db?ref=themes",cols="Name,Path")
	#hold.Locales(path="/lookups.db?ref=locales",cols="Name,Path")
	#hold.Datasets(path="/lookups.db",cols="Name,Path")
	#hold.Agents(path="/lookups.db?ref=agents",cols="Name,Path")
	#hold.Views(path="/views.db",cols="Name")
	#hold.Uploads(path="/uploads.db",cols="Name")
	#hold.Stores(path="/stores.db",cols="Name")
	#hold.Parms(path="/parms.db",cols="Parm,Type,Label,Special",sync="Parm")
	#hold.Summary(path="/summary.db",refresh=300,cols="Name")

	//
		#hold.Queues(path="/QUEUES.db",cols="Name")
		#hold.Engines(path="/ENGINES.db",cols="Name")
		#hold.AOIs(path="/aois.db",cols="path,label,row,rows,col,cols")
		#hold.History(path="/history.db?pivot=all",cols="Moderators,Idx",sync="Idx")
		#hold.Cliques(path="/cliques.db",cols="Name")
		#hold.Joins(path="/lookups.db",cols="Name,Path")
		#hold.Positives(path="/positives.FILES.db",cols="Name")
		#hold.Negatives(path="/negatives.FILES.db",cols="Name")

	- titlebar = [nick.hyper("/requirements.view"), table.hyper("/edit.view?name="+table), client.hyper("/home.view?option=chat"), (profile.Credit*1e-3).toFixed(0)+"$ "+profile.QoS+"qos "+util.cpu + "%cpu " + util.disk+"%disk", "Issues".hyper(), "Baseline".hyper("baseline.exe"), "Moderate".hyper(), warning, "login".hyper("/login?pass=totem")].join(" || ")
	- goto = query.goto || ""
	- browsers = {Ok: ["supported","Chrome","Firefox","Opera","Safari"],Bad: ["unsupported","IE","Netscape","Traveler","TheWorld","Maxthon"] }

	case view
		when "Min"
			#border(
				class=table,
				head="Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,LikeUs,Help",
				LikeUs="/likeus.db",
				Manage="/files.view",
				title=titlebar)

				block site_help
				:markdown
					*	(#{classif.level}) #{title} #{classif.purpose}
					*	Options for this view.
					*	Links to other views.
					*	Themes preferred.  
					*	[Likeus](/likeus.view) to impove your QoS.
					*	Capture screen for administrator.
					*	Edit this skin. See [skinning guide](skinguide.view)
					*	Health of system.
					*	Users connected.
					*	Files/Uploads to upload data and receive credit for future job runs.
					*	Files/Stores to upload shared files.

				#fit(center)
					block site_body

				#fit(south,crush)
					:markdown
						Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/prm/) [blog](tbd) [JIRA](tbd) By:#{credits}

		when "Basic"
			#folder(center,dock=dock)
				block site_body

		when "Insert"
			#border(class=table,head="Options,Help")

				block site_help

				#folder(center,dock=dock)
					block site_body

		when "Typical"
			#hold.Tasks(path="/tasks.db",cols="Name")
			#hold.Plugins(path="/plugins.db",cols="Name")
			#hold.Links(path="/links.db",cols="Name")

			#border(
				class=table,
				head="Info(Tasks,Plugins,Links),Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,LikeUs,Help",
				LikeUs="/likeus.db",
				Manage="/files.view",
				title=titlebar)

				block site_help
				:markdown
					*	(#{classif.level}) #{title} #{classif.purpose}
					*	Options for this view.
					*	Links to other views.
					*	Themes preferred.  
					*	[Likeus](/likeus.view) to impove your QoS.
					*	Capture screen for administrator.
					*	Edit this skin. See [skinning guide](skinguide.view)
					*	Health of system.
					*	Users connected.
					*	Files/Uploads to upload data and receive credit for future job runs.
					*	Files/Stores to upload shared files.

				#folder(center,dock=dock)
					block site_body

				#fit(south,crush)
					:markdown
						Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/doc/debe/index.html) [blog](tbd) [JIRA](tbd) By:#{credits}

		when "Home"
			#hold.Links(path="/links.db",cols="Name")

			#border(
				class=table,
				title=titlebar,
				head="Health,Users,Themes,Capture,Links,Options,Likeus,Help",
				LikeUs="/likeus.db",
				crush)

				block site_body
				:markdown
					*	(#{classif.level}) #{title} #{classif.purpose}
					*	Options for this view.
					*	Links to other views.
					*	Themes preferred.  
					*	[Likeus](/likeus.view) to impove your QoS.
					*	Capture screen for administrator.
					*	Edit this skin. See [skinning guide](skinguide.view)
					*	Health of system.
					*	Users connected.
					*	Files/Uploads to upload data and receive credit for future job runs.
					*	Files/Stores to upload shared files.

				#fit(center)
					block site_body

				#fit(south,crush)
					:markdown
						Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/doc/debe/index.html) [blog](tbd) [JIRA](tbd) By:#{credits}

		when "Nada"
			block site_body

		when "Monster"
			#hold.Links(path="/links.db",cols="Name")

			#border(
				class=table,
				title=titlebar,
				head="More(Health,Users,Links,Themes),Uploads,$uploads,Stores,$stores,Views,Options,LikeUs,Help",
				LikeUs="/likeus.db")

				block site_body
				:markdown
					*	(#{classif.level}) #{title} #{classif.purpose}
					*	Options for this view.
					*	Links to other views.
					*	Themes preferred.  
					*	[Likeus](/likeus.view) to impove your QoS.
					*	Capture screen for administrator.
					*	Edit this skin. See [skinning guide](skinguide.view)
					*	Health of system.
					*	Users connected.
					*	Files/Uploads to upload data and receive credit for future job runs.
					*	Files/Stores to upload shared files.

				//
					#pivot.Helpful.Links(
					west,crush,dims="200,600",
					path="/sidebars.db",
					cols="Pivot(NodeID,Topic),Special")

				#fit(center)
					block site_body

				#fit(south,crush)
					ishtml
						each brow in browsers.Ok
							img(src=icons+"/browsers/"+brow+".ico",width=16,height=16)
						each brow in browsers.Bad
							img(src=icons+"/browsers/"+brow+".ico",width=16,height=16)

		when "Kiss"
			#fit
				block site_body

		when "Search"
			#hold.Comfort(path="/lookups.db",cols="Name,Path")
			#border(
				class=table,
				crush,
				head="Comfort,Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,Likeus,Help",
				LikeUs="/likeus.db",
				Manage="/files.view",
				title=titlebar)

				#grid.Search(
					path="/catalog.db",center,crush,
					head="Search,Execute,Print,Refresh",
					page=100,
					cols="Ref,Name,Link.h,Dated.d,Quality")

				#fit(center)
					block site_body

		default
			#hold.Links(path="/links.db",cols="Name")
			#hold.Tasks(path="/tasks.db",cols="Name")
			#hold.Plugins(path="/plugins.db",cols="Name")

			#border(
				class=table,
				title=titlebar,
				head="System(Health,Users,Links,Plugins,Tasks),Prefs(Locales,Themes),Files(Manage,Uploads,$uploads,Stores,$stores),Options,LikeUs,Capture,Help",
				LikeUs="/likeus.db",
				Manage="/files.view")

				block site_body
				:markdown
					*	(#{classif.level}) #{title} #{classif.purpose}
					*	Options for this view.
					*	Links to other views.
					*	Themes preferred.  
					*	[Likeus](/likeus.view) to impove your QoS.
					*	Capture screen for administrator.
					*	Edit this skin. See [skinning guide](skinguide.view)
					*	Health of system.
					*	Users connected.
					*	Files/Uploads to upload data and receive credit for future job runs.
					*	Files/Stores to upload shared files.

				#fit(center)
					block site_body

				#fit(south,crush)
					:markdown
						Built on [#{nick}](/briefs.view) [API](/api.view) [Skinning Guide](/skinguide.view) [PRM](/shares/doc/debe/index.html) [blog](tbd) [JIRA](tbd) By:#{credits}
