extends layout
append layout_body
	- alabel = "click here for contents"
	- alink = "go to run".tag(run)
	- mybar = "".tag("iframe",{src:"/barplot.view",width:800,height:300})
	- barplot = "/barplot.view"
	- insert = "edit || login".tag( " || ", "/goedit || /gologin" )
	
	:markdown
		# links
		[hardcode](/goheredude.org) [derived label #{alabel}](/junk.txt)  !{alink} rawlink=#{run} tada  [run me if you dare](/barplot.view) suitors=#{_suitors}
		insert=!{insert}

		# attach a barplot
		%{/barplot.view}
		
		# embed a barplot
		!{mybar}  
		
		# another way to embed
		!{embed(barplot,100,100)}

		# fetch test
		As of #{now} transition status done	potential suitors include % {suitors} thanks $$ \\alpha = \\sum_k^N A_k $$
		and dont forget \\( a = \\frac {\\sigma } { \\sqrt {2 \\theta} } \\) as well.

	:markdown
		a code block test:

			test1
			test2

		followed by another:

			wow
			way cool !!
			[should be ignored](/nogo.com)

		by: #{by}

		# spoofed input
		! {register()}

		email test: !{request(reqs.help)}

		query a,b,c: #{a}, #{b}, #{c}

		# Lets make an interface

		Here is my interface !{interface()}

		and a shortcut to url contents: #{_suitors} vs. #{suitors}
