- alabel = "click here for contents"
- yal = "click me".tag("/hereigo.view")
:markdown
	# links
	[#{alabel}](/junk.txt)  !{yal} master=${urls.master} tada

	# attach a barplot
	%{/barplot.view} 

	# fetch test
	As of #{now} transition status done

	potential suitors include % {urls.suitors} thanks

	# test urls
	all urls: #{JSON.stringify( urls )}

	a code block test:

		test1
		test2

	followed by another:

		wow
		way cool !!
		[should be ignored](/nogo.com)

	by: #{by}

	# spoofed input
	! {register()}

	email test: ! {request(reqs.help)}

	query a,b,c: #{a}, #{b}, #{c}

	# Lets make an interface

	Here is my interface !{interface()}
	
	and a shortcut to url contents: #{_suitors} vs. #{urls.suitors}
	

