//- UNCLASSIFIED

extends base
append base_parms
	- tech = "d3"

append base_help
	:markdown
		Display treemap chart using parameters:

			src = source url returning [ { name: "...", size: int, children: [ {...}, ... ] }, ... ]
			pivots = key,key,...
			w = drawing width
			h = drawing height
			debug = level of debugging alerts
			name,children,value,size,parent = key names

append base_head

	style.
		body {
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		  margin: auto;
		  position: relative;
		  width: 960px;
		}

		form {
		  position: absolute;
		  right: 10px;
		  top: 10px;
		}

		.node {
		  border: solid 1px white;
		  font: 10px sans-serif;
		  line-height: 12px;
		  overflow: hidden;
		  position: absolute;
		  text-indent: 2px;
		}

	script.
		var opts = {
			ds: "/!{query.src}.tree?ID=#{query.id}&_sort=#{query.pivots}",
			w: parseInt("#{query.w}") || 200,
			h: parseInt("#{query.h}") || 200,
			debug: parseInt("#{query.debug}"),
			NAME: "#{query.name}" || "name",
			CHILDREN: "#{query.children}" || "children",
			VALUE: "#{query.value}" || "value",
			PARENT: "#{query.parent}" || "parent",
			SIZE: "#{query.size}" || "size"										
		};
		
		const {NAME, CHILDREN, VALUE, SIZE, PARENT} = opts;

append base_body

	script.
		var
			margin = {top: 40, right: 10, bottom: 10, left: 10},
			width = (opts.w || 1200) - margin.left - margin.right,
			height = (opts.h || 500) - margin.top - margin.bottom,

			color = d3.scale.category20c(),

			treemap = d3.layout.treemap()
				.size([width, height])
				.sticky(true)
				.value(function(d) { return d.size; }),
				
			div = d3.select("#content").append("div")
				.style("position", "relative")
				.style("width", (width + margin.left + margin.right) + "px")
				.style("height", (height + margin.top + margin.bottom) + "px")
				.style("left", margin.left + "px")
				.style("top", margin.top + "px");

		BASE.Load( opts, recs => {
			
			var 
				root = recs[0] || {},
				
				node = div.datum(root).selectAll(".node")
					.data(treemap.nodes)
					.enter().append("div")
					.attr("class", "node")
					.call(position)
					.style("background", function(d) { return d[CHILDREN] ? color(d[NAME]) : null; })
					.text(function(d) { return d[CHILDREN] ? null : d[NAME]; })
					.on("click", click);

			d3.selectAll("input").on("change", function change() {
				var value = this.value === "count"
					? function() { return 1; }
					: function(d) { return d.size; };

				node
					.data(treemap.value(value).nodes)
					.transition()
					.duration(1500)
					.call(position);
			});
		});

		function click(d) { 
			var isView = d.details.constructor == String;

			var doc = window.open(
				isView ? d.details : "",
				"_blank",
				"left="+d.x+"px,"
				+ "top="+d.y+"px,"
				+ "width=50,height=50,location=0,menubar=0,status=0,titlebar=0,toolbar=0");

			if ( !isView )
				doc.document.write(JSON.stringify( d.details ));
		}

		function position() {
			this
				.style("left", function(d) { return d.x + "px"; })
				.style("top", function(d) { return d.y + "px"; })
				.style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
				.style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
		}
		
// UNCLASSIFIED
		
